.side-nav {
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  color: #f7fafc;
  z-index: -1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.2);
  opacity: 1;
  transition: transform 0.3s ease;
}
.side-nav.open {
  z-index: 100;
  transform: translate(-50%, -50%) scale(1);
}
